@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


@theme {
    --color-primary: #004876;
    --color-secondary:#292625;
    --color-secondary-600:#6F4336;
    --color-violet-100:#8B8BA5;
    --color-brown-100:#6F4336;
    --font-quicksand: "Quicksand", sans-serif;
  }

  @layer base {
    body {
      font-family: var(--font-quicksand);
    }
  .container {
    @apply mx-auto px-4;
  }
}